<app-menadzer-menu-bar *ngIf="user.type === 'admin'"></app-menadzer-menu-bar>
<app-pacijent-menu-bar *ngIf="user.type === 'pacijent'"></app-pacijent-menu-bar>
<app-lekar-menu-bar *ngIf="user.type === 'lekar'"></app-lekar-menu-bar>

<div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="col">
        <br>
        <h6>Change password:</h6>
        <br>
        <form ngNativeValidate name="changePassword" #changePasswordForm="ngForm">
          <table class="table">
            <tbody>
            <tr>
              <td>Old Password:</td>
              <td>
                <input type="password" required="true"
                  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9\n])[A-Za-z].{6,11}$"
                  name="old_password" [(ngModel)]="old_password" class="form-control">
              </td>
            </tr>
            <tr>
              <td>New Password:</td>
              <td>
                <input type="password" required="true"
                  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9\n])[A-Za-z].{6,11}$"
                  name="new_password" [(ngModel)]="new_password" class="form-control">
              </td>
            </tr>
            <tr>
              <td>Confirm New Password:</td>
              <td>
                <input type="password" required="true"
                  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9\n])[A-Za-z].{6,11}$"
                  name="confirm_password" [(ngModel)]="confirm_password" class="form-control">
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="button" class="btn btn-primary" (click)="changePassword()">Change password</button>
              </td>
            </tr>
             </tbody>
          </table>
        </form>
        <span class="error">{{message}}</span>
        <br>
      </div>
    </div>
  </div>
  