<div class="headermenu">
    <div class="row">
      <div class="col">
        <div class="menu">
          <div class="table-responsive">
            <table class="table">
        <tr>
            <td><button type="button" (click)="showPacijenti()" class="menu-button">Pacijenti</button></td>
            <td><button type="button" (click)="showLekari()" class="menu-button">Lekari</button></td>
            <td><button type="button" (click)="showRegistracije()" class="menu-button">Registracije</button></td>
            <td><button type="button" (click)="showPregledi()" class="menu-button">Pregledi</button></td>
            <td><button type="button" (click)="showZahteviPregledi()" class="menu-button">Zahtevi za preglede</button></td>
            <td><button type="button" (click)="showSpec()" class="menu-button">Specijalizacije</button></td>
            <td><button type="button" (click)="showPromenaLozinke()" class="menu-button">Promena Lozinke</button></td>
            <td><button type="button" (click)="logOut()" class="menu-button">Log Out</button></td> 
        </tr>
    </table>
</div>
</div>
</div>
</div>
</div>
<br/>