<app-menadzer-menu-bar></app-menadzer-menu-bar>

<br/>
<button type="button" (click)="add_lekar()">Dodaj Lekara</button>
<br/>

<div *ngIf="showPacijenti">
    <h3 style="text-align: center;">Svi lekari:</h3>
    <table class="table table-striped text-center align-middle">
        <thead class="sticky">
        <tr>
            <th>Slika</th>
            <th>Username</th>
            <th>Email</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Addresa</th>
            <th>Telefon</th>
            <th>Licenca</th>
            <th>Specijalizacija</th>
            <th>Ogranak</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of pacijenti">
            <td><div *ngIf="a.image_path != null"><img
                src="http://127.0.0.1:4000/images/{{ a.image_path }}" class="image"></div>
        <div *ngIf="a.image_path == null && a.type == 'pacijent'"><img
                src="http://127.0.0.1:4000/images/pacijent.png" alt="Profile pic" class="image"></div>
        <div *ngIf="a.image_path == null && a.type == 'lekar'"><img
                src="http://127.0.0.1:4000/images/lekar.png" alt="Profile pic" class="image"></div></td>
            <td>{{a.username}}</td>
            <td>{{a.email}}</td>
            <td>{{a.name}}</td>
            <td>{{a.last_name}}</td>
            <td>{{a.address}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.licence}}</td>
            <td>{{a.spec}}</td>
            <td>{{a.ogranak}}</td>
            <td><button type="button" (click)="show_edit(a)" class="btn btn-secondary">Edit</button></td>
            <td><button type="button" (click)="remove(a)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
    </table>
    <br/>
</div>

<app-user-edit *ngIf="showEdit" (cancelEvent)="edit_canceled()" [user_id]="curr_pacijent._id"></app-user-edit>
<app-user-add *ngIf="showAdd" (cancelEvent)="edit_canceled()" [lekar]="true"></app-user-add>

<!--<app-add-new-agency *ngIf="showAddNew" (returnEvent)="show_all_agencies()"></app-add-new-agency>

<app-agency-edit *ngIf="showEdit" [user]="curr_agency" (returnEvent)="show_all_agencies()"></app-agency-edit> -->