<div class="headermenu">
    <div class="row">
      <div class="col">
        <div class="menu">
          <div class="table-responsive">
            <table class="table">
        <tr>
            <td><button type="button" (click)="showProfil()" class="menu-button">Profil</button></td>
            <td><button type="button" (click)="showPregledi()" class="menu-button">Pregledi</button></td>
            <td><button type="button" (click)="showRazno()" class="menu-button">Razno</button></td>
            <td><button type="button" (click)="showPromenaLozinke()" class="menu-button">Promena Lozinke</button></td>
            <td><button type="button" (click)="logOut()" class="menu-button">Log Out</button></td> 
        </tr>
    </table>
</div>
</div>
</div>
</div>
</div>
<br/>